#items p {
	margin: 0 0 5px;
}

#manage hr {
	margin: 5px 0 10px 0;
}

.item {
	border-bottom: 1px solid #ccc;
	margin-top: 2px;
	cursor: pointer;
}

a.unread {
	font-weight: bold;
}

#unread {
	margin-left: 10px;
}